<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Device</title>
  <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
  <script src="http://codemirror.net/lib/codemirror.js"></script>
  <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
  <script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script>
    window.onload = function () {
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "application/json",
        lineNumbers: true,
        matchBrackets: true
      });
    }
  </script>

</head>

<body>

  <h1>Device:
    <span><%= device.deviceId || null%></span>
  </h1>

  <section>
    <h2>Information</h2>
    <div>
      <label for="deviceId"><span>deviceId: </span></label><span><%= device.deviceId || null%></span>
    </div>
  </section>

</body>

</html>
